.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.block {
    padding: 16px;
    border-radius: 12px;
    text-align: center;
}

#input {
    margin: 10px;
}