.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.table {
    margin: 16px;
}
.bio {
    background: #e6f7ff;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
}

.about {
    background: #fff7e6;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

.skills {
    background: #f9f0ff;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    text-align: center;
}

.tags {
    margin: 8px;
    text-align: center;
}
